http_interactions:
  - request:
      method: GET
      uri: https://api.cloudflare.com/client/v4/accounts?per_page=2&page=1
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "success": true,
            "errors": [],
            "messages": [],
            "result": [
              {"id": "acc-1", "name": "Acme"},
              {"id": "acc-2", "name": "Globex"}
            ],
            "result_info": {
              "page": 1,
              "per_page": 2,
              "count": 2,
              "total_count": 2,
              "total_pages": 1
            }
          }
    recorded_at: 2026-05-20 18:07:49
recorded_with: VCR-vcr/2.1.0
