http_interactions:
  - request:
      method: GET
      uri: https://api.cloudflare.com/client/v4/zones/zone-1/ssl/certificate_packs?per_page=50&page=1
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "success": true,
            "errors": [],
            "messages": [],
            "result": [
              {
                "id": "pack-1",
                "type": "advanced",
                "hosts": ["example.com", "www.example.com"],
                "primary_certificate": "cert-1",
                "certificates": [
                  {
                    "id": "cert-1",
                    "status": "active",
                    "expires_on": "2027-01-01T00:00:00Z"
                  }
                ],
                "status": "active",
                "validation_method": "txt",
                "validity_days": 365,
                "certificate_authority": "lets_encrypt"
              },
              {
                "id": "pack-2",
                "type": "universal",
                "hosts": ["api.example.com"],
                "primary_certificate": "cert-2",
                "certificates": [],
                "status": "pending_validation",
                "validation_method": "http",
                "validity_days": 90,
                "certificate_authority": "google"
              }
            ],
            "result_info": {
              "page": 1,
              "per_page": 50,
              "count": 2,
              "total_count": 2,
              "total_pages": 1
            }
          }
    recorded_at: 2026-05-22 00:00:00
recorded_with: VCR-vcr/2.1.0
