http_interactions:
  - request:
      method: POST
      uri: https://api.cloudflare.com/client/v4/zones/zone-1/custom_hostnames
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "success": true,
            "errors": [],
            "messages": [],
            "result": {
              "id": "ch-1",
              "hostname": "shop.customer.com",
              "status": "pending",
              "ssl": {
                "type": "dv",
                "method": "txt",
                "status": "initializing"
              }
            }
          }
    recorded_at: 2026-05-22 00:00:00
recorded_with: VCR-vcr/2.1.0
