http_interactions:
  - request:
      method: POST
      uri: https://api.cloudflare.com/client/v4/accounts/acc-1/d1/database/db-1/query
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "success": true,
            "errors": [],
            "messages": [],
            "result": [
              {
                "success": true,
                "meta": {
                  "duration": 1.2,
                  "rows_read": 2,
                  "rows_written": 0,
                  "served_by": "WEUR"
                },
                "results": [
                  {"id": 1, "name": "alice"},
                  {"id": 2, "name": "bob"}
                ]
              }
            ]
          }
    recorded_at: 2026-05-22 00:00:00
recorded_with: VCR-vcr/2.1.0
