http_interactions:
  - request:
      method: POST
      uri: https://api.cloudflare.com/client/v4/accounts/acc-1/d1/database
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "success": true,
            "errors": [],
            "messages": [],
            "result": {
              "uuid": "db-1",
              "name": "users",
              "version": "production",
              "created_at": "2026-05-22T00:00:00Z"
            }
          }
    recorded_at: 2026-05-22 00:00:00
recorded_with: VCR-vcr/2.1.0
