http_interactions:
  - request:
      method: GET
      uri: https://api.cloudflare.com/client/v4/accounts/acc-1/d1/database?per_page=50&page=1
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "success": true,
            "errors": [],
            "messages": [],
            "result": [
              {
                "uuid": "db-1",
                "name": "users",
                "version": "production",
                "created_at": "2026-01-01T00:00:00Z",
                "file_size": 12345,
                "num_tables": 4
              },
              {
                "uuid": "db-2",
                "name": "events",
                "version": "production",
                "created_at": "2026-02-01T00:00:00Z",
                "file_size": 99999,
                "num_tables": 12
              }
            ],
            "result_info": {
              "page": 1,
              "per_page": 50,
              "count": 2,
              "total_count": 2,
              "total_pages": 1
            }
          }
    recorded_at: 2026-05-22 00:00:00
recorded_with: VCR-vcr/2.1.0
