http_interactions:
  - request:
      method: POST
      uri: https://api.cloudflare.com/client/v4/graphql
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "data": {
              "viewer": {
                "zones": [
                  {
                    "dnsAnalyticsAdaptiveGroups": [
                      {"count": 5000, "dimensions": {"date": "2026-05-19"}},
                      {"count": 7500, "dimensions": {"date": "2026-05-20"}}
                    ]
                  }
                ]
              }
            }
          }
    recorded_at: 2026-05-21 00:00:00
recorded_with: VCR-vcr/2.1.0
