http_interactions:
  - request:
      method: GET
      uri: https://api.cloudflare.com/client/v4/zones/zone-1/dns_records/rec-1
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "success": true,
            "errors": [],
            "messages": [],
            "result": {
              "id": "rec-1",
              "zone_id": "zone-1",
              "type": "A",
              "name": "www.example.com",
              "content": "192.0.2.1",
              "proxied": true,
              "ttl": 1
            }
          }
    recorded_at: 2026-05-21 00:00:00
recorded_with: VCR-vcr/2.1.0
