http_interactions:
  - request:
      method: GET
      uri: https://api.cloudflare.com/client/v4/zones/zone-1/email/routing
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "success": true,
            "errors": [],
            "messages": [],
            "result": {
              "enabled": true,
              "name": "example.com",
              "status": "ready",
              "skip_wizard": false,
              "tag": "tag-1",
              "synced": true,
              "modified": "2026-04-01T00:00:00Z",
              "created": "2026-01-01T00:00:00Z"
            }
          }
    recorded_at: 2026-05-21 00:00:00
recorded_with: VCR-vcr/2.1.0
