http_interactions:
  - request:
      method: POST
      uri: https://api.cloudflare.com/client/v4/graphql
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "data": {
              "viewer": {
                "zones": [
                  {
                    "firewallEventsAdaptiveGroups": [
                      {"count": 100, "dimensions": {"action": "block"}},
                      {"count": 40,  "dimensions": {"action": "challenge"}},
                      {"count": 13,  "dimensions": {"action": "log"}}
                    ]
                  }
                ]
              }
            }
          }
    recorded_at: 2026-05-21 00:00:00
recorded_with: VCR-vcr/2.1.0
