http_interactions:
  - request:
      method: PATCH
      uri: https://api.cloudflare.com/client/v4/zones/zone-1/healthchecks/hc-1
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "success": true,
            "errors": [],
            "messages": [],
            "result": {
              "id": "hc-1",
              "name": "api-prod",
              "address": "api.example.com",
              "type": "HTTPS",
              "status": "suspended",
              "suspended": true,
              "interval": 60,
              "retries": 2,
              "timeout": 5
            }
          }
    recorded_at: 2026-05-22 00:00:00
recorded_with: VCR-vcr/2.1.0
