http_interactions:
  - request:
      method: GET
      uri: https://api.cloudflare.com/client/v4/accounts/acc-1/storage/kv/namespaces/ns-1/keys?limit=1000
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "success": true,
            "errors": [],
            "messages": [],
            "result": [
              {"name": "greeting", "expiration": null},
              {"name": "farewell", "expiration": null}
            ],
            "result_info": {
              "count": 2,
              "cursor": ""
            }
          }
    recorded_at: 2026-05-21 00:00:00
recorded_with: VCR-vcr/2.1.0
