http_interactions:
  - request:
      method: PATCH
      uri: https://api.cloudflare.com/client/v4/zones/zone-1/pagerules/rule-1
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "success": true,
            "errors": [],
            "messages": [],
            "result": {
              "id": "rule-1",
              "status": "disabled",
              "priority": 1,
              "targets": [],
              "actions": []
            }
          }
    recorded_at: 2026-05-21 00:00:00
recorded_with: VCR-vcr/2.1.0
