http_interactions:
  - request:
      method: GET
      uri: https://api.cloudflare.com/client/v4/accounts/acc-1/r2/buckets
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "success": true,
            "errors": [],
            "messages": [],
            "result": {
              "buckets": [
                {
                  "name": "my-assets",
                  "creation_date": "2026-01-01T00:00:00Z",
                  "location": "wnam",
                  "storage_class": "Standard"
                },
                {
                  "name": "backups-cold",
                  "creation_date": "2026-02-01T00:00:00Z",
                  "location": "enam",
                  "storage_class": "InfrequentAccess"
                }
              ]
            }
          }
    recorded_at: 2026-05-21 00:00:00
recorded_with: VCR-vcr/2.1.0
