http_interactions:
  - request:
      method: GET
      uri: https://api.cloudflare.com/client/v4/zones/zone-1/rulesets/rs-1
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "success": true,
            "errors": [],
            "messages": [],
            "result": {
              "id": "rs-1",
              "name": "default",
              "kind": "zone",
              "phase": "http_request_firewall_custom",
              "rules": [
                {
                  "id": "r-1",
                  "expression": "(http.host eq \"example.com\")",
                  "action": "block",
                  "enabled": true
                }
              ]
            }
          }
    recorded_at: 2026-05-21 00:00:00
recorded_with: VCR-vcr/2.1.0
