http_interactions:
  - request:
      method: GET
      uri: https://api.cloudflare.com/client/v4/accounts/acc-1/rum/site_info/list?per_page=50&page=1
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "success": true,
            "errors": [],
            "messages": [],
            "result": [
              {
                "site_tag": "site-tag-1",
                "host": "example.com",
                "auto_install": true,
                "created": "2026-01-01T00:00:00Z"
              },
              {
                "site_tag": "site-tag-2",
                "host": "another.example.com",
                "auto_install": false,
                "created": "2026-02-01T00:00:00Z"
              }
            ],
            "result_info": {
              "page": 1,
              "per_page": 50,
              "count": 2,
              "total_count": 2,
              "total_pages": 1
            }
          }
    recorded_at: 2026-05-20 18:07:49
recorded_with: VCR-vcr/2.1.0
