http_interactions:
  - request:
      method: GET
      uri: https://api.cloudflare.com/client/v4/accounts/acc-1/cfd_tunnel/tun-1
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "success": true,
            "errors": [],
            "messages": [],
            "result": {
              "id": "tun-1",
              "name": "homelab",
              "status": "healthy",
              "remote_config": false,
              "connections": [
                {"id": "conn-1", "origin_ip": "192.0.2.1", "is_pending_reconnect": false}
              ]
            }
          }
    recorded_at: 2026-05-21 00:00:00
recorded_with: VCR-vcr/2.1.0
