http_interactions:
  - request:
      method: GET
      uri: https://api.cloudflare.com/client/v4/accounts/acc-1/cfd_tunnel?is_deleted=false&per_page=50&page=1
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "success": true,
            "errors": [],
            "messages": [],
            "result": [
              {
                "id": "tun-1",
                "name": "homelab",
                "status": "healthy",
                "created_at": "2026-01-01T00:00:00Z",
                "remote_config": false
              },
              {
                "id": "tun-2",
                "name": "dev-machine",
                "status": "inactive",
                "created_at": "2026-02-01T00:00:00Z",
                "remote_config": true
              }
            ],
            "result_info": {
              "page": 1,
              "per_page": 50,
              "count": 2,
              "total_count": 2,
              "total_pages": 1
            }
          }
    recorded_at: 2026-05-21 00:00:00
recorded_with: VCR-vcr/2.1.0
