http_interactions:
  - request:
      method: GET
      uri: https://api.cloudflare.com/client/v4/accounts/acc-1/cfd_tunnel/tun-1/connections
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "success": true,
            "errors": [],
            "messages": [],
            "result": [
              {
                "id": "conn-1",
                "client_id": "client-a",
                "client_version": "2025.5.0",
                "origin_ip": "1.2.3.4",
                "opened_at": "2026-05-20T00:00:00Z",
                "conns": [
                  {"colo_name": "OSL", "is_pending_reconnect": false}
                ]
              },
              {
                "id": "conn-2",
                "client_id": "client-b",
                "client_version": "2025.5.0",
                "origin_ip": "1.2.3.5",
                "opened_at": "2026-05-20T01:00:00Z",
                "conns": []
              }
            ]
          }
    recorded_at: 2026-05-21 00:00:00
recorded_with: VCR-vcr/2.1.0
