http_interactions:
  - request:
      method: GET
      uri: https://api.cloudflare.com/client/v4/accounts/acc-1/challenges/widgets/0x4AAAAAAAAA1
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "success": true,
            "errors": [],
            "messages": [],
            "result": {
              "sitekey": "0x4AAAAAAAAA1",
              "name": "comment-form",
              "mode": "managed",
              "domains": ["example.com"],
              "bot_fight_mode": false
            }
          }
    recorded_at: 2026-05-21 00:00:00
recorded_with: VCR-vcr/2.1.0
