http_interactions:
  - request:
      method: GET
      uri: https://api.cloudflare.com/client/v4/accounts/acc-1/challenges/widgets?per_page=25&page=1
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "success": true,
            "errors": [],
            "messages": [],
            "result": [
              {
                "sitekey": "0x4AAAAAAAAA1",
                "name": "comment-form",
                "mode": "managed",
                "domains": ["example.com"],
                "created_on": "2026-01-01T00:00:00Z",
                "bot_fight_mode": false
              },
              {
                "sitekey": "0x4AAAAAAAAA2",
                "name": "signup-form",
                "mode": "invisible",
                "domains": ["example.com", "www.example.com"],
                "created_on": "2026-02-01T00:00:00Z",
                "bot_fight_mode": true
              }
            ],
            "result_info": {
              "page": 1,
              "per_page": 25,
              "count": 2,
              "total_count": 2,
              "total_pages": 1
            }
          }
    recorded_at: 2026-05-21 00:00:00
recorded_with: VCR-vcr/2.1.0
