http_interactions:
  - request:
      method: GET
      uri: https://api.cloudflare.com/client/v4/accounts/acc-1/workers/scripts
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {
            "success": true,
            "errors": [],
            "messages": [],
            "result": [
              {
                "id": "hello-world",
                "etag": "abc123",
                "created_on": "2026-01-01T00:00:00Z",
                "modified_on": "2026-04-01T00:00:00Z",
                "usage_model": "bundled"
              },
              {
                "id": "image-resizer",
                "etag": "def456",
                "created_on": "2026-02-01T00:00:00Z",
                "modified_on": "2026-05-01T00:00:00Z",
                "usage_model": "standard"
              }
            ]
          }
    recorded_at: 2026-05-21 00:00:00
recorded_with: VCR-vcr/2.1.0
