http_interactions:
  - request:
      method: POST
      uri: https://api.cloudflare.com/client/v4/graphql
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {"data": {"viewer": {"accounts": [{"accountTag": "abc123"}]}}}
    recorded_at: 2026-05-20 18:07:49
  - request:
      method: POST
      uri: https://api.cloudflare.com/client/v4/graphql
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {"data": {"viewer": {"zones": [{"httpRequests1dGroups": [
            {"dimensions": {"date": "2026-05-01"}, "sum": {"requests": 1000, "bytes": 2000000, "pageViews": 500}, "uniq": {"uniques": 300}}
          ]}]}}}
    recorded_at: 2026-05-20 18:07:49
recorded_with: VCR-vcr/2.1.0
