http_interactions:
  - request:
      method: GET
      uri: https://api.cloudflare.com/client/v4/zones/abc123/rulesets/rs-1
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {"success": true, "errors": [], "messages": [],
           "result": {"id": "rs-1", "name": "default", "kind": "zone",
                      "phase": "http_request_firewall_custom",
                      "rules": [{"id": "rule-1", "action": "block",
                                 "expression": "ip.src eq 192.0.2.1"}]}}
    recorded_at: 2026-05-20 18:07:49
recorded_with: VCR-vcr/2.1.0
