http_interactions:
  - request:
      method: GET
      uri: https://api.cloudflare.com/client/v4/accounts/abc123/email/routing/addresses?per_page=50&page=1
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {"success": true, "errors": [], "messages": [],
           "result": [{"id": "addr-1", "email": "you@example.com", "verified": "2026-05-01T00:00:00Z"},
                      {"id": "addr-2", "email": "team@example.com", "verified": null}],
           "result_info": {"page": 1, "per_page": 50, "count": 2, "total_count": 2, "total_pages": 1}}
    recorded_at: 2026-05-20 18:07:49
recorded_with: VCR-vcr/2.1.0
