http_interactions:
  - request:
      method: GET
      uri: https://api.cloudflare.com/client/v4/accounts/abc123/cfd_tunnel?is_deleted=false&per_page=50&page=1
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {"success": true, "errors": [], "messages": [],
           "result": [{"id": "tunnel-1", "name": "prod", "status": "healthy"},
                      {"id": "tunnel-2", "name": "staging", "status": "down"}],
           "result_info": {"page": 1, "per_page": 50, "count": 2, "total_count": 2, "total_pages": 1}}
    recorded_at: 2026-05-20 18:07:49
recorded_with: VCR-vcr/2.1.0
