http_interactions:
  - request:
      method: GET
      uri: https://api.cloudflare.com/client/v4/accounts/acc-1/rulesets
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {"success": true, "errors": [], "messages": [],
           "result": [{"id": "rs-1", "name": "Cloudflare Managed Ruleset",
                       "kind": "managed", "phase": "http_request_firewall_managed"},
                      {"id": "rs-2", "name": "Cloudflare OWASP Core Ruleset",
                       "kind": "managed", "phase": "http_request_firewall_managed"}]}
    recorded_at: 2026-05-20 18:07:49
recorded_with: VCR-vcr/2.1.0
