http_interactions:
  - request:
      method: PATCH
      uri: https://api.cloudflare.com/client/v4/zones/abc123/pagerules/rule-1
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {"success": true, "errors": [], "messages": [],
           "result": {"id": "rule-1", "status": "disabled", "priority": 1,
                      "targets": [{"target": "url",
                                   "constraint": {"operator": "matches",
                                                  "value": "*example.com/blog/*"}}],
                      "actions": [{"id": "cache_level", "value": "cache_everything"}]}}
    recorded_at: 2026-05-20 18:07:49
recorded_with: VCR-vcr/2.1.0
