http_interactions:
  - request:
      method: POST
      uri: https://api.cloudflare.com/client/v4/graphql
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {"data": {"viewer": {"zones": [{"httpRequests1dGroups": [
            {"dimensions": {"date": "2026-05-01"}, "sum": {"requests": 1000, "bytes": 2000000, "pageViews": 500, "threats": 10}, "uniq": {"uniques": 300}}
          ]}]}}}
    recorded_at: 2026-05-20 18:07:49
  - request:
      method: POST
      uri: https://api.cloudflare.com/client/v4/graphql
    response:
      status: 200
      headers:
        content-type: application/json
      body:
        string: |
          {"data": {"viewer": {"zones": [{"httpRequests1hGroups": [
            {"dimensions": {"datetime": "2026-05-01T00:00:00Z"}, "sum": {"requests": 50, "bytes": 100000, "pageViews": 25, "threats": 1}, "uniq": {"uniques": 20}}
          ]}]}}}
    recorded_at: 2026-05-20 18:07:49
recorded_with: VCR-vcr/2.1.0
