http_interactions:
  - request: {method: GET, uri: 'https://api.cloudflare.com/client/v4/zones/abc123/firewall/rules?per_page=50&page=1'}
    response:
      status: 200
      headers: {content-type: application/json}
      body:
        string: '{"success":true,"errors":[],"messages":[],"result":[{"id":"fw-1","description":"block bots","filter":{}}],"result_info":{"page":1,"per_page":50,"count":1,"total_count":1,"total_pages":1}}'
    recorded_at: 2026-05-20 18:07:49
  - request: {method: GET, uri: 'https://api.cloudflare.com/client/v4/zones/abc123/rulesets'}
    response:
      status: 200
      headers: {content-type: application/json}
      body:
        string: '{"success":true,"errors":[],"messages":[],"result":[{"id":"rs-1","name":"default","kind":"zone"}]}'
    recorded_at: 2026-05-20 18:07:49
  - request: {method: GET, uri: 'https://api.cloudflare.com/client/v4/zones/abc123/rulesets/rs-1'}
    response:
      status: 200
      headers: {content-type: application/json}
      body:
        string: '{"success":true,"errors":[],"messages":[],"result":{"id":"rs-1","name":"default","rules":[]}}'
    recorded_at: 2026-05-20 18:07:49
  - request: {method: GET, uri: 'https://api.cloudflare.com/client/v4/accounts/abc123/rulesets'}
    response:
      status: 200
      headers: {content-type: application/json}
      body:
        string: '{"success":true,"errors":[],"messages":[],"result":[{"id":"rs-acc-1","name":"managed","kind":"managed"}]}'
    recorded_at: 2026-05-20 18:07:49
recorded_with: VCR-vcr/2.1.0
