http_interactions:
  - request: {method: GET, uri: 'https://api.cloudflare.com/client/v4/accounts/abc123/workers/scripts'}
    response:
      status: 200
      headers: {content-type: application/json}
      body:
        string: '{"success":true,"errors":[],"messages":[],"result":[{"id":"hello-world"},{"id":"resizer"}]}'
    recorded_at: 2026-05-20 18:07:49
  - request: {method: POST, uri: 'https://api.cloudflare.com/client/v4/graphql'}
    response:
      status: 200
      headers: {content-type: application/json}
      body:
        string: '{"data":{"viewer":{"accounts":[{"workersInvocationsAdaptive":[{"dimensions":{"date":"2026-05-01","scriptName":"hello-world"},"sum":{"requests":10000,"errors":5,"subrequests":2000},"quantiles":{"cpuTimeP50":1.2,"cpuTimeP99":8.5}}]}]}}}'
    recorded_at: 2026-05-20 18:07:49
  - request: {method: GET, uri: 'https://api.cloudflare.com/client/v4/accounts/abc123/storage/kv/namespaces?per_page=50&page=1'}
    response:
      status: 200
      headers: {content-type: application/json}
      body:
        string: '{"success":true,"errors":[],"messages":[],"result":[{"id":"ns-1","title":"cache"}],"result_info":{"page":1,"per_page":50,"count":1,"total_count":1,"total_pages":1}}'
    recorded_at: 2026-05-20 18:07:49
recorded_with: VCR-vcr/2.1.0
