http_interactions:
  - request: {method: GET, uri: 'https://api.cloudflare.com/client/v4/zones/abc123/dns_records?type=A&per_page=50&page=1'}
    response:
      status: 200
      headers: {content-type: application/json}
      body:
        string: '{"success":true,"errors":[],"messages":[],"result":[{"id":"rec-1","type":"A","name":"example.com","content":"192.0.2.1","proxied":true}],"result_info":{"page":1,"per_page":50,"count":1,"total_count":1,"total_pages":1}}'
    recorded_at: 2026-05-20 18:07:49
  - request: {method: POST, uri: 'https://api.cloudflare.com/client/v4/zones/abc123/dns_records'}
    response:
      status: 200
      headers: {content-type: application/json}
      body:
        string: '{"success":true,"errors":[],"messages":[],"result":{"id":"rec-new","type":"A","name":"blog.example.com","content":"192.0.2.5","proxied":true}}'
    recorded_at: 2026-05-20 18:07:49
  - request: {method: PATCH, uri: 'https://api.cloudflare.com/client/v4/zones/abc123/dns_records/rec-1'}
    response:
      status: 200
      headers: {content-type: application/json}
      body:
        string: '{"success":true,"errors":[],"messages":[],"result":{"id":"rec-1","content":"192.0.2.99"}}'
    recorded_at: 2026-05-20 18:07:49
  - request: {method: DELETE, uri: 'https://api.cloudflare.com/client/v4/zones/abc123/dns_records/rec-1'}
    response:
      status: 200
      headers: {content-type: application/json}
      body:
        string: '{"success":true,"errors":[],"messages":[],"result":{"id":"rec-1"}}'
    recorded_at: 2026-05-20 18:07:49
recorded_with: VCR-vcr/2.1.0
