http_interactions:
  - request: {method: POST, uri: 'https://api.cloudflare.com/client/v4/zones/abc123/purge_cache'}
    response:
      status: 200
      headers: {content-type: application/json}
      body:
        string: '{"success":true,"errors":[],"messages":[],"result":{"id":"purge-1"}}'
    recorded_at: 2026-05-20 18:07:49
[...]
  - request: {method: POST, uri: 'https://api.cloudflare.com/client/v4/zones/abc123/purge_cache'}
    response:
      status: 200
      headers: {content-type: application/json}
      body:
        string: '{"success":true,"errors":[],"messages":[],"result":{"id":"purge-3"}}'
    recorded_at: 2026-05-20 18:07:49
recorded_with: VCR-vcr/2.1.0
