http_interactions:
  - request: {method: GET, uri: 'https://api.cloudflare.com/client/v4/user/tokens/verify'}
    response:
      status: 200
      headers: {content-type: application/json}
      body:
        string: '{"success":true,"errors":[],"messages":[],"result":{"id":"tok-1","status":"active"}}'
    recorded_at: 2026-05-20 18:07:49
  - request: {method: POST, uri: 'https://api.cloudflare.com/client/v4/zones/abc123/dns_records'}
    response:
      status: 200
      headers: {content-type: application/json}
      body:
        string: '{"success":true,"errors":[],"messages":[],"result":{"id":"rec-new","type":"A","name":"www.example.com","content":"192.0.2.1","proxied":true}}'
    recorded_at: 2026-05-20 18:07:49
recorded_with: VCR-vcr/2.1.0
